<div>
  <div>
    <h2>Welcome</h2>
    <p>Create an account to get started</p>
  </div>
  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "John Doe" %>
      </div>
      <div class="field">
        <%= f.label :email, "University email address" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "johndoe@university.edu"%>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirm password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Re-type password"%>
      </div>
      <div class="actions btn btn-primary">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <div class="sign-in-link">
      Already have an account? <%= link_to "Login", new_session_path(resource_name) %>
    </div>
  </div>
</div>
