<div class="flex flex-col items-center">
  <div class="absolute top-5 left-5 font-bold text-2xl">Book<span class="text-blue-500">Bridge</span></div>
  <div class="mt-15">
    <%= search_form_for @q, url: listings_path, method: :get, html: { class: "flex flex-col items-center" } do |f| %>
      <div class="absolute top-5 left-5 font-bold text-2xl">
        Book<span class="text-blue-500">Bridge</span>
      </div>
      <div class=" grid grid-cols-[10fr_4fr_4fr_1fr] gap-2 mt-4" data-controller="search">
        <%= f.search_field :title_cont, placeholder: "Search by title", class: "p-2 border border-gray-400 rounded-lg", "data-search-target": "optionA" %>
        <%= f.search_field :authors_cont, placeholder: "Search by authors", class: "p-2 border border-gray-400 rounded-lg hidden", "data-search-target": "optionB" %>
        <%= f.search_field :isbn_cont, placeholder: "Search by ISBN", class: "p-2 border border-gray-400 rounded-lg hidden", "data-search-target": "optionC" %>
        <%= f.search_field :course_number_cont, placeholder: "Search by course number", class: "p-2 border border-gray-400 rounded-lg hidden", "data-search-target": "optionD" %>
        <select class="p-2 border border-gray-400 rounded-lg" data-search-target="input" data-action="change->search#updateVisibility">
          <option value="title">Title</option>
          <option value="authors">Authors</option>
          <option value="isbn">ISBN</option>
          <option value="course_number">Course Number</option>
        </select>
        <%= f.select :listing_type_eq, options_for_select([["For Borrowing", "lend"], ["For Buying", "sell"]]), {}, class: "p-2 border border-gray-400 rounded-lg" %>
        <%= f.submit "S", class: "bg-blue-500 text-white px-4 py-2 rounded-lg" %>
      </div>
    <% end %>
  </div>
</div>
