<div class="flex justify-center"><!-- Page wrapper -->
  <div class="absolute top-5 left-5 font-bold text-2xl">Book<span class="text-blue-500">Bridge</span></div>
  <div class="mt-15 w-[65%] min-h-[80vh] flex flex-col rounded-lg">
    <div> <!-- Back button -->
      <%= link_to "Back", listings_path, class: "text-gray-700 hover:underline" %>
    </div>
    <div class="mt-4 flex flex-row w-full gap-8"> <!-- Main book content -->
      <div class="w-1/3" data-controller="image-switch"> <!-- Image and Image controller -->
        <% if @listing.images.attached? %>
          <%= image_tag  @listing.images.first, alt: @listing.title, class: "w-full aspect-[3/4] object-cover rounded-lg", "data-image-switch-target": "mainImage" %>
          <div class="mt-4 flex gap-2">
            <% @listing.images.each_with_index do |image, index| %>
              <%= image_tag image, 
          alt: @listing.title, 
          class: "w-16 aspect-[3/4] object-cover rounded-lg cursor-pointer border-2 hover:border-blue-500 #{index == 0 ? 'border-blue-500' : 'border-none'}", 
          "data-image-switch-target": "thumbnail", 
          "data-action": "click->image-switch#updateImage", 
          "data-image-url": url_for(image) %>
            <% end %>
          </div>
        <% else %>
          <div class="w-full aspect-[3/4] bg-gray-100 border flex items-center justify-center text-gray-400 text-xs rounded">
            No Image
          </div>
        <% end %>
      </div>
      <div class="w-2/3 flex flex-col"> <!-- Book details -->
        <div> <!-- Title and author -->
          <h1 class="text-2xl font-bold"><%= @listing.title %></h1>
          <p class="text-gray-600 text-lg"><%= @listing.authors %></p>
        </div>
        <div class="mt-4 flex flex-row gap-4"> <!-- Date, Course, ISBN, Type -->
          <p class="text-gray-600">Published on: <%= @listing.created_at.strftime("%B %d, %Y") %></p>
          <p class="text-gray-600">Course: <%= @listing.course_number %></p>
          <p class="text-gray-600">ISBN: <%= @listing.isbn %></p>
          <p class="text-gray-600">Type: <%= @listing.listing_type %></p>
        </div>
        <div class="mt-4"> <!-- Price if available -->
          <p class="text-gray-800 font-bold text-xl"><%= number_to_currency(@listing.price) %></p>
        </div>
        <div class="mt-4 flex flex-row gap-4"> <!-- Message and Save buttons -->
          <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Message</button>
          <button class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600">Save</button>
        </div>
        <div class="mt-4"> <!-- User.find by user_id, and Description -->
          <p class="text-gray-600">Listed by: <%= User.find(@listing.user_id).name %></p>
          <p class="text-gray-600 mt-2"><%= @listing.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>