<%= form_with model: @listing, url: my_listings_path do |form| %>
  <div class="flex flex-row">
    <div class="ml-5 w-[40%]" >
      <div class="custom-file-upload" data-controller="clear-files">
        <label for="image-input" id="image-label" class="custom-label w-full border border-gray-300 border-dashed p-2 rounded-lg h-96 flex flex-col items-center justify-center cursor-pointer text-gray-700 hover:bg-gray-100 transition duration-200", data-clear-files-target="imageLabel">
          <svg width="32px" height="32px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#545454ff" stroke-width="0">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 4.5L4.5 3.75H10.5L11.25 4.5V10.5L10.5 11.25H4.5L3.75 10.5V4.5ZM5.25 5.25V9.75H9.75V5.25H5.25ZM13.5 3.75L12.75 4.5V10.5L13.5 11.25H19.5L20.25 10.5V4.5L19.5 3.75H13.5ZM14.25 9.75V5.25H18.75V9.75H14.25ZM17.25 20.25H15.75V17.25H12.75V15.75H15.75V12.75H17.25V15.75H20.25V17.25H17.25V20.25ZM4.5 12.75L3.75 13.5V19.5L4.5 20.25H10.5L11.25 19.5V13.5L10.5 12.75H4.5ZM5.25 18.75V14.25H9.75V18.75H5.25Z" fill="#545454ff"></path>
            </g>
          </svg>
          Add photos
        </label>
        <%= form.file_field :images, multiple: true, accept: "image/*", id: "image-input", class: "hidden", "data-clear-files-target": "fileInput", "data-action": "change->clear-files#updateImageLabel" %>
      </div>
      <button class="mt-4 w-full p-2 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-600 hover:cursor-pointer transition duration-300 ease-in-out" onclick="document.getElementById('image-input').value = ''">
        Clear
      </button>
    </div>
    <div class="flex flex-col ml-15 w-[60%]">
      <div>
        <%= form.label :title, "Book Title", class: "block font-medium text-gray-700" %>
        <%= form.text_field :title, autofocus: true, placeholder: "Title goes here", class: "mt-1 p-2 w-full border border-gray-400 rounded-lg" %>
      </div>
      <div class="mt-4">
        <%= form.label :authors, "Author(s)", class: "block font-medium text-gray-700" %>
        <%= form.text_field :authors, placeholder: "Author(s) of the book", class: "mt-1 p-2 border border-gray-400 rounded-lg w-[80%]" %>
      </div>
      <div class="flex flex-row mt-4">
        <div class="mr-4 w-[65%]">
          <%= form.label :isbn, "ISBN", class: "block font-medium text-gray-700" %>
          <%= form.text_field :isbn, placeholder: "123-456-7890", class: "mt-1 p-2 border border-gray-400 rounded-lg w-full" %>
        </div>
        <div class="w-[35%]">
          <%= form.label :course_number, "Course Number", class: "block font-medium text-gray-700" %>
          <%= form.text_field :course_number, class: "mt-1 p-2 border border-gray-400 rounded-lg w-full", placeholder: "ABCD 123" %>
        </div>
      </div>
      <div class="flex flex-row mt-4">
        <div class="mr-4 w-[33%]">
          <%= form.label :edition, "Edition", class: "block font-medium text-gray-700" %>
          <%= form.text_field :edition, placeholder: "1st", class: "mt-1 p-2 border border-gray-400 rounded-lg w-full" %>
        </div>
        <div data-controller="lend-sell" class="flex flex-row w-[66%]">
          <div class="w-[50%]">
            <%= form.label :listing_type, "Lend or Sell" %>
            <%= form.select :listing_type,
            [['Lend', 'lend'], ['Sell', 'sell']],
            { selected: @listing.listing_type },
            { class: "mt-1 select select-primary w-full p-2 bg-transparent border border-gray-400 rounded-lg", id: "listing-type-select", "data-lend-sell-target": "input", "data-action": "change->lend-sell#determinePriceVisibility" } %>
          </div>
          <div id="price-field" class="ml-4 w-[50%]" data-lend-sell-target="priceInput">
            <%= form.label :price, "Price (USD)", class: "block font-medium text-gray-700" %>
            <%= form.number_field :price, placeholder: "12.99", step: 0.01, class: "mt-1 p-2 border border-gray-400 rounded-lg w-full" %>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <%= form.label :description, "Description", class: "block font-medium text-gray-700" %>
        <%= form.text_area :description, placeholder: "Description of the book", class: "mt-1 p-2 border border-gray-400 rounded-lg w-full" %>
      </div>
      <div class="mt-4">
        <%= form.submit "Done", class: "w-full p-2 bg-[#D1FFD9] text-[#00D438] font-semibold rounded-lg hover:bg-green-200 hover:cursor-pointer transition duration-300 ease-in-out" %>
      </div>
    </div>
  </div>
<% end %>