<%= form_with model: @listing, url: @listing.persisted? ? my_listing_path(@listing) : my_listings_path, method: @listing.persisted? ? :patch : :post do |form| %>
  <div class="flex flex-row">
    <div class="ml-5 w-[40%]" >
      <div class="custom-file-upload" data-controller="clear-files">
        <label for="image-input" id="image-label" class="custom-label w-full border border-gray-300 border-dashed p-2 rounded-lg h-96 flex flex-col items-center justify-center cursor-pointer text-gray-700 hover:bg-gray-100 transition duration-200", data-clear-files-target="imageLabel">
          Add photos
        </label>
        <% @listing.images.each do |image| %>
          <%= form.hidden_field :images, id: "image-existing",  multiple: true, value: image.signed_id %>
        <% end %>
        <%= form.file_field :images, multiple: true, accept: "image/*", id: "image-input", class: "hidden", "data-clear-files-target": "fileInput", "data-action": "change->clear-files#updateImageLabel" %>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <% @listing.images.each do |image| %>
          <div class="relative">
            <img src="<%= url_for(image) %>" alt="Listing Image" class="w-full aspect-[3/4] object-cover rounded-lg border border-gray-300">
          </div>
        <% end %>
      </div>
      <button class="mt-4 w-full p-2 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-600 transition duration-300 ease-in-out" onclick="document.getElementById('image-input').value = ''; document.querySelectorAll('#image-existing').forEach(el => el.remove());">
        Clear
      </button>
    </div>
    <div class="flex flex-col ml-15 w-[60%]">
      <div>
        <%= form.input :title, input_html: { class: "w-full", placeholder: "Enter title" }, label: "Book Title" %>
      </div>
      <div class="mt-4 grid grid-cols-[4fr_1fr] gap-4">
        <%= form.input :authors, input_html: { class: "w-full", placeholder: "Enter authors" }, label: "Author(s)" %>
      </div>
      <div class="grid grid-cols-[2fr_1fr] gap-4">
        <%= form.input :isbn, input_html: { class: "w-full", placeholder: "123-456-7890" }, label: "ISBN" %>
        <%= form.input :course_number, class: "ml-2", input_html: { class: "w-full", placeholder: "ABCD 123" }, label: "Course Number" %>
      </div>
      <div class="grid grid-cols-3 gap-4" data-controller="lend-sell">
        <%= form.input :edition, input_html: { placeholder: "3rd Edition" } %>
        <%= form.input :listing_type, as: :select, collection: ["Lend", "Sell"], input_html: { "data-lend-sell-target": "input", "data-action": "change->lend-sell#determinePriceVisibility" } %>
        <div data-lend-sell-target="priceInput" class="invisible">
          <%= form.input :price, as: :integer , input_html: {placeholder: "12.99", step: 0.01}, label: "Price (USD)" %>
        </div>
      </div>
      <div>
        <%= form.input :description, as: :text, input_html: { rows: 5, class: "w-full", placeholder: "Enter description" } %>
      </div>
      <div class="mt-4">
        <%= form.check_box :status, { checked: @listing.status == "Available", class: "checkbox checkbox-sm border-gray-400 checked:border-blue-500 checked:bg-blue-500 checked:text-white rounded-md" }, "Available", "Unavailable" %>
        <%= form.label :status, "Make Available", class: "ml-2 text-gray-700"%>
      </div>
      <div class="mt-4">
        <%= form.submit "Done", class: "w-full p-2 bg-[#D1FFD9] text-[#00D438] font-semibold rounded-lg hover:bg-green-200 hover:cursor-pointer transition duration-300 ease-in-out" %>
      </div>
    <% end %>