<div class="flex flex-col items-center">
  <div class="absolute top-5 left-5 font-bold text-2xl">Book<span class="text-blue-500">Bridge</span></div>
  <div class=" w-[65%] items-center mt-20">
    <h1 class="text-gray-900 font-semibold text-2xl">My Listings</h1>
  </div>
  <div class="w-[65%] min-h-[70vh] flex flex-col">
    <% @listings.each do |listing| %>
      <div class="overflow-y-auto grid grid-cols-[1fr_5fr_0.25fr] gap-8 mt-4 border-b border-gray-300 pb-4">
        <div>
          <% if listing.images.attached? %>
            <%= image_tag listing.images.first, alt: listing.title, class: "w-64 aspect-[3/4] object-cover rounded-xl" %>
          <% else %>
            <div class="w-36 aspect-[3/4] bg-gray-100 border flex items-center justify-center text-gray-400 text-xs rounded-xl">
              No Image
            </div>
          <% end %>
        </div>
        <div class="py-2 flex flex-col justify-between ">
          <div>
            <h3 class="text-lg font-semibold"><%= link_to listing.title, listing_path(listing) %></h3>
            <p class="text-gray-600"><%= listing.authors %></p>
            <p class="text-gray-600">Published on: <%= listing.created_at.strftime("%B %d, %Y") %></p>
            <p class="text-gray-600"><%= User.find(listing.user_id).name %></p>
            <p class="text-gray-800 font-bold"><%= number_to_currency(listing.price) %></p>
          </div>
          <div class="flex flex-row">
            <p><%= listing.course_number %></p>
            <p class="ml-4"># <%= listing.isbn %></p>
            <p class="ml-4"><%= listing.listing_type %></p>
          </div>
        </div>
        <div class="flex flex-row justify-between">
          <p>A</p>
          <p>B</p>
        </div>
      </div>
    <% end %>
  </div>
</div>