<div>
  <div>
    <h2>Welcome Back</h2>
    <p>Log in to your account to continue</p>
  </div>
  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "Email address" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= link_to "Forgot password?", new_password_path(resource_name) %>
        <br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <div class="sign-up-link">
      Dont have an account? <%= link_to "Sign up", new_registration_path(resource_name) %>
    </div>
  </div>
</div>
